<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN"><!--找不到log4j2的配置文件文件     ERRORStatusLogger No log4j2 configuration file found. Using default configuration:logging only errors to the console. Set system property 'org.apache.logging.log4j.simplelog.StatusLogger.level'to TRACE to show Log4j2 internal initialization logging-->
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>
